/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.title {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar (barra de navegación) */
nav {
    background-color: rgb(212, 209, 209);
    padding: 10px 0;
    text-align: center;

}

.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 15px;
    cursor: pointer;
}

.navbar li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.navbar li:hover,
.navbar li.active {
    color: #007bff;
}

/* Contenido de las pestañas */
.tab-content {
    margin: 15px auto;
    padding: 10px;
    height: max-content;
    width: 98%;
    background-color: #fff;
    border: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(34, 20, 228, 0.596);
}

.tab-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.tab-content p {
    margin-bottom: 20px;
}