.about {
  position: relative;
  height: 100vh;
  background-image: url("/public/about.png");
  background-size: cover;
  background-position: center;
}

.content {
  position: relative;
  z-index: 1; /* Asegura que el contenido esté por encima del fondo */
  color: rgb(252, 252, 252); /* Cambia el color del texto para que resalte */
  text-align: center;
  padding: 20px;
}


/* a .home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(7, 7, 7, 0.1);
  z-index: 0;  Asegura que el overlay esté por debajo del contenido 
} */
  
